# /etc/init/api.conf
start on virtual-filesystems
stop on runlevel [06]

setuid deployer
setgid deployer

pre-start exec {{root_dir}}/api/current/bin/unicorn -D -c {{root_dir}}/api/current/config/unicorn.rb --env production

post-stop exec kill `cat {{root_dir}}/api/shared/tmp/pids/unicorn.pid`