# /etc/init/api.conf
start on virtual-filesystems
stop on runlevel [06]

setuid deployer
setgid deployer

pre-start exec {{api_dir}}/bin/unicorn -D -c {{api_dir}}/config/unicorn.rb --env production

post-stop exec kill `cat {{api_dir}}/../shared/tmp/pids/unicorn.pid`
