# /etc/init/auth.conf
start on virtual-filesystems
stop on runlevel [06]

setuid deployer
setgid deployer

pre-start exec {{auth_dir}}/bin/unicorn -D -c {{auth_dir}}/config/unicorn.rb --env production

post-stop exec kill `cat {{auth_dir}}/../shared/tmp/pids/unicorn.pid`
