# TODO: SSL stuff
#server {
#    listen 80;
#    server_name default_server;
#    return 301 https://$host$request_uri;
#}

server {
    # listen 443 ssl default_server;
    listen 80 default_server;

    root {{root_dir}}/client;

    # ssl_certificate {{root_dir}}/keys/unified.crt;
    # ssl_certificate_key {{root_dir}}/keys/my-private-decrypted.key;

    # Be sure to serve your API calls under /api so you can proxy them straight forward
    location /api {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-NginX-Proxy true;
        proxy_pass http://api.{{domain}}/api;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}
